<div class="area-wrapper">

  <div class="flex-column-centered light-area">
    <div class="flex-row light-area-wrapper">
      <app-traffic-light
          [lightColor]="trafficLightColor()"/>
      <div class="flex-row light-area-pedestrian-wrapper">
        <app-pedestrian-light
            [lightColor]="pedestrianLightColor()"/>
        <app-pedestrian-request/>
      </div>
    </div>
    <div class="notification-area">
      <p class="right-aligned">
        <b>Light current status:</b>
      </p>
      <p>{{ statusText() }}</p>
      <p class="right-aligned">
        <b>Controller light received:</b>
      </p>
      <p>{{ lightColorCycle() | titlecase }}</p>
      <p class="notification-area--text-animated">{{ requestsText() }}</p>
    </div>
  </div>

</div>


