:host {
    padding: 20px;
    border: 1px solid black;
    display: flex;
    width: 400px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: var(--mat-sys-level5);

    .area-wrapper {
        width: 100%;
    }

    .light-area {
        &-wrapper {
            gap: 30px;
            justify-content: center;
        }

        &-pedestrian-wrapper {
            align-items: flex-end;
        }
    }

    .notification-area {
        display: grid;
        grid-template-columns:200px 180px;
        margin-top: 40px;
        column-gap: 15px;
        row-gap: 5px;

        p {
            margin: 0;

            &.right-aligned {
                text-align: right;
            }
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        &--text-animated {
            height: 20px;
            animation: blink 1s infinite;
            text-align: center;
            grid-column: 1 / span 2;
        }
    }
}
