:host {
    padding: 20px;
    border: 1px solid black;
    display: flex;
    width: 400px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: var(--mat-sys-level5);

    .area-wrapper {
        width: 100%;
    }

    .light-area {
        &-wrapper {
            gap: 30px;
            justify-content: center;
        }

        &-pedestrian-wrapper {
            align-items: flex-end;
        }
    }

}
